* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, blue, black, black);
}

.container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png);
    height: 120vh;
    width: 350px;
    margin: 5px;
}

.heading {
    background: rgb(88, 88, 88);
    width: 100%;
    padding: 15px 0;
    display: flex;
}

.arrow {
    color: white;
    display: flex;
    align-items: center;
    padding-left: 5px;
    font-size: 25px;
    cursor: pointer;
}

.dp {
    padding-left: 10px;
}

.dp img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.heading .profile__details {
    position: relative;
    top: 5px;
    left: 5px;
}

.heading .profile__details h2 {
    color: white;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: -1px;
}

.heading .profile__details p {
    color: white;
    font-size: 10px;
}

.heading .profile__icons {
    position: relative;
    top: 15px;
    left: 45px;
    color: white;
    font-size: 20px;
}

.heading .profile__icons i {
    margin-right: 18px;
    cursor: pointer;
}


.chats {
    margin-top: 55px;
    color: rgba(255, 255, 255, 0.767);
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    font-size: 12px;
}

.mine {
    background: #0b76d3;
    margin: 10px 15px;
    text-align: right;
    padding: 15px 15px 15px 25px;
    border-radius: 10px 10px 0 10px;
}

a {
    color: rgba(255, 255, 255, 0.767);
    text-decoration: none;
}

.others {
    background: #636363;
    margin: 10px 15px;
    padding: 15px 15px;
    border-radius: 10px 10px 10px 0;
}

@media only screen and (min-width: 360px) {
    .container {
        height: 800px;
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .container {
        height: 120vh;
        width: 100%;
        margin: 5px;
    }

    
    .heading .profile__details p {
        color: white;
        font-size: 12px;
    }

    .heading .profile__icons {
        position: relative;
        top: 15px;
        left: 185px;
        color: white;
        font-size: 20px;
    }

    .heading .profile__icons i {
        margin-right: 50px;
        cursor: pointer;
    }
}

@media only screen and (min-width: 768px) {
    .container {
        height: 90vh;
        width: 100%;
        margin: 5px;
    }
}
